<%= render "shared/header" %>

<div class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white bg-gray rounded shadow-sm">
    <img class="me-3" src="../assets/brand/bootstrap-logo-white.svg" alt="" width="48" height="38">
    <div class="lh-1">
      <h1 class="h6 mb-0 text-white lh-1">ユーザー投稿一覧</h1>
    </div>
  </div>

  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">検索結果</h6>

    <%= search_form_for @q, url: search_user_posts_path, html: {id: "detailed-search-form"} do |f| %>
        <div class="date-search">
          <%= f.label :requested_at, 'メンテ依頼日' %>
          <%= f.date_field :requested_at_gteq, class: 'date-form' %>
          <%#= f.date_field :requested_at_date_eq, class: 'date-form' %>
          〜
          <%= f.date_field :requested_at_lteq_end_of_day, class: 'date-form' %>

        </div>
        <div class="menu-search">
          <%= f.label :category_id_eq, 'メンテナンスメニュー' %>
          <%= f.collection_select(:menu_id_eq, Menu.where.not(id: 1), :id, :name, {prompt: "選択してください"}) %>
        </div>
        <div class="d-flex">
          <%= f.text_field :comment, placeholder: 'コメント検索', value: params[:q]&.dig(:comment), class:"form-control me-2", type:"search" %>
        </div>
        <%= f.submit '検索', class:"btn btn-outline-success", type:"submit" %>
    <% end %>

    <% if @user_posts.present? %>

      <% @user_posts.each do |user_post|%>
        <% unless user_post.post_room %>
          <div class="d-flex text-muted pt-3">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
            <div class="pb-3 mb-0 small lh-sm border-bottom">
              <strong class="d-block text-gray-dark"> <%= user_post.menu[:name] %></strong>
              <ul class='post-contents' >
                <li><%= user_post.user.nickname %></li>
                <li>お願いしたい日：<%= user_post.requested_at.strftime("%Y年 %m月 %d日 %H:%M") %></li>
                <%# <li><%= user_post.comment %>
                <li><%= truncate(user_post.comment,length: 50) %></li>
              </ul>
              <%= link_to '詳細を見る', user_post_path(user_post.id) %>
            </div>
          </div>
        <% end %>
      <% end %>


    <% else %>

      <div class="d-flex text-muted pt-3 no-items">
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark">検索結果はありませんでした</strong>
      </p>
    </div>

    <% end %>

    </div>
      <small class="d-block text-end mt-3">
        <%=  link_to '全ての結果を表示', user_posts_path, class:"return-posts-index" %>
      </small>
    </div>

    <div class='page-nate-container'>
      <%= paginate @user_posts, theme: 'bootstrap-5' %>
    </div>

  </div>


</div>


    <%# <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      <script src="offcanvas.js"></script> %>