<%= render "shared/header" %>

<div class='cantainer-fluid top-box'>
  <div class='cantainer-fluid first-box'>
      <!-- article -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <!-- section -->
          <section class='back-ground'>

            <hr />

            <!-- 投稿一覧 -->
            <div class="line-bc">

                <%# if current_user.id == @post_room.user_id %>
              <% if user_signed_in? %>

                <% @post_messages.each do |pm| %>

                    <% if pm.is_user %>
                        <!-- 右吹き出し -->
                        <div>
                          <div class="clearfix">
                            <div class="float-end text-style">
                              <%= @post_room.user.nickname %>
                            </div>
                          </div>
                          <div class="clearfix balloon2 float-end">
                            <%= pm.content %>
                          </div>
                          <div class="clearfix">
                            <div class="float-end">
                              <time style="font-size: 12px">
                              <%= pm.created_at %>
                              </time>
                            </div>
                          </div>
                        </div>
                        <br />

                        <!-- 右吹き出し -->
                    <% elsif %> 
                        <!-- 左吹き出し -->
                        <div>
                          <div class="clearfix">
                            <div class="float-start text-style">
                              <%= @post_room.biz_user.name %>
                            </div>
                          </div>
                          <div class="clearfix balloon1 float-start">
                            <%= pm.content %>
                          </div>
                          <div class="clearfix">
                            <time style="font-size: 12px">
                            <%= pm.created_at %>
                            </time>
                          </div>
                        </div>
                        <br />
                        <!-- 左吹き出し -->
                    <% end %> 

                <% end %>

              <% elsif biz_user_signed_in?%> 

                <% @post_messages.each do |pm| %>
                    <% if pm.is_user %>
                    <!-- 左吹き出し -->
                          <div>
                            <div class="clearfix">
                              <div class="float-start text-style">
                                <%= @post_room.user.nickname %>
                              </div>
                            </div>
                            <div class="clearfix balloon1 float-start">
                              <%= pm.content %>
                            </div>
                            <div class="clearfix">
                              <time style="font-size: 12px">
                              <%= pm.created_at %>
                              </time>
                            </div>
                          </div>
                          <br />
                          <!-- 左吹き出し -->
                    <% elsif %> 
                          <!-- 右吹き出し -->
                          <div>
                            <div class="clearfix">
                              <div class="float-end text-style">
                                <%= @post_room.biz_user.name %>
                              </div>
                            </div>
                            <div class="clearfix balloon2 float-end">
                              <%= pm.content %>
                            </div>
                            <div class="clearfix">
                              <div class="float-end">
                                <time style="font-size: 12px">
                                <%= pm.created_at %>
                                </time>
                              </div>
                            </div>
                          </div>
                          <br />
                          <!-- 右吹き出し -->
                    <% end %> 
                <% end %>
              <% end %>

              <br />
              <% if user_signed_in? %>
              <div>
                <%= link_to 'マッチング成立', new_user_post_post_room_post_match_path(@user_post.id, @post_room.id),  class: "btn btn-danger" %>
                <%= link_to 'マッチング不成立', user_post_post_room_path(@user_post.id, @post_room.id), method: :delete, class: "btn btn-dark" %>
              </div>
              <% end %>
            </div>
          </section>
          <!-- section -->
        </article>
        <!-- article -->


      <div class='text-area'>

          <%= form_with url:user_post_post_room_post_messages_path(@user_post.id, @post_room.id), local: true do |f| %>
            <%= f.text_field :content, class: 'text-field', id:'', placeholder:'コメント'%>
            <%= f.submit '送信', class:'btn btn-light' %>
          <% end %>


      
      </div>




  </div>


  


</div>