<div class="text-center">
  <%= form_with model: [@user_post, @post_room, @post_match], class: 'new-post', local: true do |f| %>
    <%= link_to '仮ボタン TOPへ戻る', '/'%>
    <%# <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> %>

    <div class='page-explanation'>
    <h1 class="h3 mb-3 fw-normal">メンテメンテ合意内容を入力</h1>
    </div>

    <div class="form-top">
    <%= render partial:'users/shared/error_messages', locals: { model: f.object } %>
    </div>

    <div class="post-field">
      <%= f.label :maintain_at, 'メンテ確定日時', class: "post-label" %>
      <%= f.datetime_local_field :maintain_at, class:"post-content", id:"" %>

    </div>

    <div class="post-field" >
      <%= f.label :menu_id, 'メンテナンスメニュー', class: "post-label" %>
      <%= f.collection_select(:menu_id, Menu.all, :id, :name, {}, {class:"post-content", id:"menu-select-status"}) %>
    </div>


    <div class="post-field">
      <%= f.label :charge, 'メンテ費用', class: "post-label" %>
      <%= f.text_field :charge, class:"post-content", placeholder:"合意した金額を入力" %>
    </div>


    <%= f.submit "マッチング内容を確定する" ,class:"w-100 btn btn-lg btn-primary" %>
    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  <% end %>
</div>