<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <div class= 'title-container'>
      <h2 class="name">
        <% if user_signed_in? %>
        <%= @post_match.post_room.biz_user.name %>さんへのメンテ依頼
        <% end %>
        <% if biz_user_signed_in? %>
        <%= @post_match.post_room.user.name %>さんからのメンテ依頼
        <% end %>
      </h2>
        <%= link_to '戻る', :back, class:'btn btn-primary back-btn'  %>
    </div>

    <table class="detail-table">
        <tr>
          <th class="detail-item">メンテ日時</th>
          <td class="detail-value"><%= @post_match.maintain_at %></td>
        </tr>
        <tr>
          <th class="detail-item">メンテメニュー</th>
          <td class="detail-value"><%= @post_match.menu[:name] %></td>
        </tr>
        <tr>
          <th class="detail-item">コメント</th>
          <td class="detail-value"><%= @post_match.comment %></td>
        </tr>
        <tr>
          <th class="detail-item">金額</th>
          <td class="detail-value">￥<%= @post_match.charge %></td>
        </tr>
    </table>


    
    <div class='edit-delete-btn'>
    <%# <% if user_signed_in? && @item.purchase_record == nil %>
      <%# <% if current_user.id == @item.user_id %>
    <% if biz_user_signed_in? && current_biz_user.id == @post_match.post_room.biz_user_id %>
        <%= link_to "マッチング内容の修正", edit_user_post_path,class: "btn btn-outline-success" %>
        <%= link_to "マッチングを削除", user_post_path, method: :delete, class: "btn btn-outline-danger" %>
    <% end %>
    </div>
  </div>



  <div class='move-btn'>
    <%= link_to 'マッチングTOPへ', user_posts_path, class:'btn btn-primary'  %>
  </div>

</div>