<%= render "shared/header" %>

<div class="match-show">
  <div class="item-box match-box">
    <div class='back-to-mypage'>
        <% if user_signed_in?%>
          <%= link_to 'マイページへ', user_path(current_user.id), class:'btn btn-primary back-btn'  %>
        <% end %>
        <% if biz_user_signed_in?%>
          <%= link_to 'マイページへ', biz_user_path(current_biz_user.id), class:'btn btn-primary back-btn'  %>
        <% end %>

    </div>
    <div class= 'title-container'>
      <h2 class="name">
        <% if user_signed_in? %>
        <%= @post_match.post_room.biz_user.name %>さんへのメンテ依頼
        <% end %>
        <% if biz_user_signed_in? %>
        <%= @post_match.post_room.user.nickname %>さんからのメンテ依頼
        <% end %>
      </h2>
    </div>

    <table class="detail-table">
        <tr>
          <th class="detail-item">メンテ日時</th>
          <td class="detail-value"><%= @post_match.maintain_at %></td>
        </tr>
        <tr>
          <th class="detail-item">メンテメニュー</th>
          <td class="detail-value"><%= @post_match.menu[:name] %></td>
        </tr>
        <tr>
          <th class="detail-item">コメント</th>
          <td class="detail-value"><%= @post_match.comment %></td>
        </tr>
        <tr>
          <th class="detail-item">金額</th>
          <td class="detail-value">￥<%= @post_match.charge %></td>
        </tr>
    </table>


    
    <div class='match-edit-delete-btn'>
      <% if user_signed_in? && current_user.id == @post_match.post_room.user_id %>
          <%= link_to "決済へ進む", '#',class: "btn btn-danger btn-lg" %>
      <% end %>
      <% if biz_user_signed_in? && current_biz_user.id == @post_match.post_room.biz_user_id %>
          <%= link_to "マッチング内容の修正", edit_user_post_post_room_post_match_path(@post_room.user_post.id, @post_room.id, @post_match.id), class: "btn btn-outline-success" %>
          <%= link_to "マッチングを削除", '#', method: :delete, class: "btn btn-outline-danger" %>
      <% end %>
    </div>
  </div>

    <div class='cantainer-fluid top-box-match-show'>
      <div class='cantainer-fluid first-box'>
          <!-- article -->
          <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <!-- section -->
              <section class='back-ground'>

                <hr />

                <!-- 投稿一覧 -->
                <div class="line-bc">

                    <%# if current_user.id == @post_room.user_id %>
                  <% if user_signed_in? %>

                    <% @post_messages.each do |pm| %>

                        <% if pm.is_user %>
                            <!-- 右吹き出し -->
                            <div>
                              <div class="clearfix">
                                <div class="float-end text-style">
                                  <%= @post_room.user.nickname %>
                                </div>
                              </div>
                              <div class="clearfix balloon2 float-end">
                                <%= pm.content %>
                              </div>
                              <div class="clearfix">
                                <div class="float-end">
                                  <time style="font-size: 12px">
                                  <%= pm.created_at.strftime('%m-%d %H:%M') %>
                                  </time>
                                </div>
                              </div>
                            </div>
                            <br />

                            <!-- 右吹き出し -->
                        <% elsif %> 
                            <!-- 左吹き出し -->
                            <div>
                              <div class="clearfix">
                                <div class="float-start text-style">
                                  <%= @post_room.biz_user.name %>
                                </div>
                              </div>
                              <div class="clearfix balloon1 float-start">
                                <%= pm.content %>
                              </div>
                              <div class="clearfix">
                                <time style="font-size: 12px">
                                <%= pm.created_at.strftime('%m-%d %H:%M') %>
                                </time>
                              </div>
                            </div>
                            <br />
                            <!-- 左吹き出し -->
                        <% end %> 

                    <% end %>

                  <% elsif biz_user_signed_in?%> 

                    <% @post_messages.each do |pm| %>
                        <% if pm.is_user %>
                        <!-- 左吹き出し -->
                              <div>
                                <div class="clearfix">
                                  <div class="float-start text-style">
                                    <%= @post_room.user.nickname %>
                                  </div>
                                </div>
                                <div class="clearfix balloon1 float-start">
                                  <%= pm.content %>
                                </div>
                                <div class="clearfix">
                                  <div class="float-start">
                                    <time style="font-size: 12px">
                                    <%= pm.created_at.strftime('%m-%d %H:%M') %>
                                    </time>
                                  </div>
                                </div>
                              </div>
                              <br />
                              <!-- 左吹き出し -->
                        <% elsif %> 
                              <!-- 右吹き出し -->
                              <div>
                                <div class="clearfix">
                                  <div class="float-end text-style">
                                    <%= @post_room.biz_user.name %>
                                  </div>
                                </div>
                                <div class="clearfix balloon2 float-end">
                                  <%= pm.content %>
                                </div>
                                <div class="clearfix">
                                  <div class="float-end">
                                    <time style="font-size: 12px">
                                    <%= pm.created_at.strftime('%m-%d %H:%M') %>
                                    </time>
                                  </div>
                                </div>
                              </div>
                              <br />
                              <!-- 右吹き出し -->
                        <% end %> 
                    <% end %>
                  <% end %>

                  <br />
      
                </div>
              </section>
              <!-- section -->
            </article>
            <!-- article -->

          <div class='text-area'>
              <%= form_with url:user_post_post_room_post_messages_path(@post_room.user_post_id, @post_room.id), local: true do |f| %>
                <%= f.text_field :content, class: 'text-field', id:'', placeholder:'コメント'%>
                <%= f.submit '送信', class:'btn btn-light' %>
              <% end %>
          </div>

      </div>
    </div>

</div>